.App {
  text-align: center;
}

.led{
  /* padding-bottom: 200px; */
  margin-left: 210px;
  /* margin-bottom: 290px; */
  position: relative;
  bottom: 319px;

}

#myimage{
  width: 165px;
  height: 200px;
 
}
.four_buton{
  margin-right: 410px;
  position: relative;
  bottom: 365px;
}

.six_button{
  margin-right: 410px;
  position: relative;
  bottom: 550px;

}

.two_button{
  margin-right: 410px;
  position: relative;
  bottom: 549px;

}

.one_button{
  margin-right: 412px;
  position: relative;
  bottom: 545px;
}

.seven_button{
  margin-right: 412px;
  position: relative;
  bottom: 540px;
}

.three_button{
  margin-right: 412px;
  position: relative;
  bottom: 540px;
}

.five_button{
  margin-right: 412px;
  position: relative;
  bottom: 508px;
}
